#not-found {
  width: 700px;
  margin: 0 auto;
}

#not-found .not-found-image {
  width: 25%;
  float: left;
}

#not-found .not-found-title {
  width: 70%;
  float: right;
  background: url(img/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 400px;
}

#not-found .not-found-title h1 {
  font-size: 30px;
  color: #1f2128;
  margin-bottom: 20px;
  margin-top: 155px;
}

#not-found .not-found-title a.gotohomepage {
  background-color: #de4f4f;
  color: #fff;
  width: 180px;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
}